<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="https://cdn.jsdelivr.net/npm/bulma@0.8.1/bulma.sass">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .box {
            min-height: 600px;
        }
    </style>
</head>

<body>
<section class="section">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img src="https://cdn.clipart.email/e982e7d7d6cfc45bcf1d4280320d1b86_instagram-logo-png-e-vetor-download-de-logo_3500-993.png"
                     alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Opcje
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" th:href="@{/add_photo}">
                            Dodaj Zdjęcie
                        </a>
                        <a class="navbar-item" th:href="@{/sections}">
                            Sekcje
                        </a>
                        <th:block th:each="cuser :${current_user}">
                            <a class="navbar-item" th:href="@{'/' + ${cuser.nickname}}" sec:authorize="isAuthenticated()">
                                Mój profil
                            </a>
                        </th:block>
                        <a class="navbar-item" th:href="@{/list_of_followers}" sec:authorize="isAuthenticated()">
                            Lista obserwowanych
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" sec:authorize="!isAuthenticated()"
                               th:href="@{/registration}">

                                    <span>
                                        Rejestracja
                                    </span>
                            </a>
                        </p>
                        <p class="control">
                            <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="button is-primary">
                                <span>Logowanie</span>
                            </a>
                        </p>
                        <p class="control" sec:authorize="isAuthenticated()">
                            <button class="button is-success"><span
                                    th:text="${#authentication.getPrincipal().getUsername()}"></span></button>
                        </p>
                        <p class="control">
                        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <button class="button is-warning" type="submit">Wyloguj się</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>
<section class="body">
    <div class="box">
        <div class="container" style="margin-top: 100px;">
            <form th:action="@{/add_photo}" method="post" id="photoform" enctype="multipart/form-data">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <h3 class="title is-3" style="text-align: center">Dodaj zdjęcie</h3>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="control">
                            <input class="input" type="text" placeholder="name of photo" name="name_photo" id="name_photo">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-2 is-offset-4">
                                <label class="label">Wybierz Sekcję do zdjęcia</label>
                            </div>
                            <div class="column" style="margin-left: 20px;">
                                <div class="select">
                                    <select id="name" name="name" form="photoform">
                                        <option th:each=" s : ${sections}" th:value="${s.name}"><small
                                                th:text="${s.name}"></small>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="control">
                            <input class="input" type="text" placeholder="tags" name="tags" id="tags">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="control">
                            <input class="input" type="textarea" placeholder="description" name="description" id="description">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="columns">
                            <div class="column is-offset-2">
                                <div id="file-js-example" class="file has-name">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="files">
                                        <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                        <span class="file-name">
                                    No file uploaded
                                    </span>
                                    </label>
                                </div>
                                <script>
                                    const fileInput = document.querySelector('#file-js-example input[type=file]');
                                    fileInput.onchange = () => {
                                        if (fileInput.files.length > 0) {
                                            const fileName = document.querySelector('#file-js-example .file-name');
                                            fileName.textContent = fileInput.files[0].name;
                                        }
                                    }
                                </script>
                            </div>
                            <div class="column">
                                <button class="button is-link" style="text-align: center;" type="submit">Dodaj Zdjecie
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
</section>
<section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Website created</strong> by <a href="https://jgthms.com">Daniel Partyka</a>
            </p>
        </div>
    </footer>
</section>
</body>
</html>