<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="https://cdn.jsdelivr.net/npm/bulma@0.8.1/bulma.sass">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .box {
            min-height: 600px;
        }
        .box > column {
            margin-top: 130px;
        }
    </style>
</head>

<body>
<section class="section">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img src="https://cdn.clipart.email/e982e7d7d6cfc45bcf1d4280320d1b86_instagram-logo-png-e-vetor-download-de-logo_3500-993.png"
                     alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Opcje
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" th:href="@{/add_photo}">
                            Dodaj Zdjęcie
                        </a>
                        <a class="navbar-item" th:href="@{/sections}">
                            Sekcje
                        </a>
                        <th:block th:each="cuser :${current_user}">
                            <a class="navbar-item" th:href="@{'/' + ${cuser.nickname}}" sec:authorize="isAuthenticated()">
                                Mój profil
                            </a>
                        </th:block>
                        <a class="navbar-item" th:href="@{/list_of_followers}" sec:authorize="isAuthenticated()">
                            Lista obserwowanych
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" sec:authorize="!isAuthenticated()"
                               th:href="@{/registration}">

                                    <span>
                                        Rejestracja
                                    </span>
                            </a>
                        </p>
                        <p class="control">
                            <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="button is-primary">
                                <span>Logowanie</span>
                            </a>
                        </p>
                        <p class="control" sec:authorize="isAuthenticated()">
                            <button class="button is-success"><span
                                    th:text="${#authentication.getPrincipal().getUsername()}"></span></button>
                        </p>
                        <p class="control">
                        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <button class="button is-warning" type="submit">Wyloguj się</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>
<section>
    <div class="box">
        <div class="container">
            <div class="container">
                <th:block th:each="itr : ${photodetails}">
                    <div class="columns">
                        <div class="column">
                            <figure class="image is-square">
                                <img th:src="@{'/uploads/' + ${itr.source}}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="columns">
                                <div class="column">
                                    <h2 class="title is-2" th:text="${itr.name_photo}"></h2>
                                    <th:block th:each="u : ${userinfo}">
                                    <h6 class="title is-6" th:text="@{'Made by: ' + ${u.nickname} + ' ' + '(' + ${u.name} + ' ' + ${u.surname} + ')'}"></h6>
                                    </th:block>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <th:block th:each="itr: ${userdetails}">
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-64x64">
                                                    <a th:href="@{'/' + ${itr.nickname}}"><img src="https://icons.iconarchive.com/icons/mahm0udwally/all-flat/128/User-icon.png"></a>
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <div class="content">
                                                    <p><strong th:text="${itr.nickname}"></strong>
                                                        <br th:text="${itr.description}">
                                                        <br>
                                                        <a>Like</a> · <a>Reply</a>
                                                        <small th:text="${itr.date}"></small>
                                                    </p>
                                                </div>
                                            </div>

                                        </article>
                                    </th:block>
                                    <article class="media" style="margin-bottom: 0px;">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                <img src="https://icons.iconarchive.com/icons/mahm0udwally/all-flat/128/User-icon.png">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="field">
                                                <p class="control">
                                                <form method="post" th:action="@{/photo/} + ${itr.photo_id}"
                                                      id="commentform">
                                                    <input class="textarea" type="textarea" name="description"
                                                           id="description">
                                                </form>
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control">
                                                    <button class="button" type="submit" form="commentform">Dodaj Komentarz
                                                    </button>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
<section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Website created</strong> by <a href="https://jgthms.com">Daniel Partyka</a>
            </p>
        </div>
    </footer>
</section>
</body>
</html>